{% extends 'MetaClassificationLegalEntitiesBundle:Default:base.classification.bs.html.twig' %}

{% block body -%}
    <span> Добро пожаловать на мою личную страничку</span>
    <a href="{{'/'}}">Страничка разработчика</a>
{% endblock %}

{% block body_footer -%}
	
{% endblock %}