{% extends 'MetaResumeBundle:Default:base.resume.bs.html.twig' %}

{% block body -%}
    <span> Добро пожаловать на мою личную страничку</span>
{% endblock %}

{% block body_footer -%}
	
{% endblock %}