{% block menu %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> 
      <a class="navbar-brand" href="#">Андрей Мазняк</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">О себе</a></li>
        <li><a href="#">Образование</a></li>
        <li><a href="#">Опыт работы</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Мои проекты <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider">Web</li>
                <li><a href="{{'/admin'}}">Инструмент для создания баз данных на основе онтологии</a></li>
                <li><a href="{{'/classification'}}">Классификатор юридических лиц</a></li>
            <li class="divider">Android</li>
                <li><a href="#">Семейный бюджет</a></li>
                <li><a href="#">Анализатор кешируемой музыки VK</a></li>
            <li class="divider">Микроконтроллеры</li>
                <li><a href="#">Умный дом</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Поиск">
        </div>
        <button type="submit" class="btn btn-default">Найти</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}