{% extends '::base.bs.html.twig' %}

{% form_theme form 'fields.bs.html.twig' %}
{% block title -%}SimpleDataType creation{% endblock %}
{% block body_heading -%}<div class="panel-heading">SimpleDataType creation</div>{% endblock %}

{% block body -%}
    
    {{ form(form) }}

{% endblock %}

{% block body_footer -%}
		<div class="panel-footer">
	<div class="btn-group">
		<button type="button" class="btn btn-default">Actions</button>
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href="{{ path('simpledatatype') }}">Back to the list</a></li>
								</ul>
		</div>
</div>
{% endblock %}