{% extends '::base.bs.html.twig' %}

{% block title -%}Классификация юридических лиц{% endblock %}
{% block body_heading -%}<div class="panel-heading">Классификация юридических лиц</div>{% endblock %}

{% block body -%}
    <ul class="list-group">
        <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span> База знаний полна </li>
        <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-ok"></span> Проверка адекватности пройдена</li>
    </ul>
    <form action="{{ path('createdatabase_create') }}" method="post">
        <button class="btn btn-primary" type="submit">Классифицировать</button>
    </form>
{% endblock %}

{% block body_footer -%}
	
{% endblock %}